.greeting-form,
.greetings {
  display: none;
}

.greeting-form {
  flex-direction: column;
}
.greeting-form span {
  font-size: 44px;
  margin-bottom: 20px;
  text-align: center;
}
.greeting-form input {
  border: none;
  outline: none;
  color: #fff;
  border-bottom: 3px solid #fff;
  background-color: transparent;
  text-align: center;
  font-size: 56px;
}

.greetings {
  font-size: 50px;
  text-align: center;
  animation: flip 0.8s ease-in-out;
}
