@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
@import "reset.css";
@import "bg.css";
@import "header.css";
@import "xmas.css";
@import "weather.css";
@import "clock.css";
@import "greeting.css";
@import "todo.css";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInTwo {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes showsUp {
  from {
    opacity: 0;
    transform: translateY(1500px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes flip {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background-color: #192a56;
  color: white;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: showsUp 1.7s ease-in-out forwards;
}
.showing {
  display: flex;
}
