.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}
.weather-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.weather__image {
  height: 8vh;
}
.weather__text_temp {
  font-size: 28px;
}
.weather__text_place {
  font-size: 18px;
}
